.container {
  background: linear-gradient(90deg, #9E9E9E, white);
}
input {
  background: linear-gradient(90deg, transparent, #9E9E9E);
  border: 1px solid white ;
  color: white;

}
input::placeholder {
  color: white;
}
#addBtn {
  background-color: #9E9E9E;
  border: 1px solid white ;
  padding: 6px 9px;
}
#addBtn:disabled {
  background-color: #c5c4c4;
}

#doneBtn {
  background-color: #9E9E9E;
  border: none;
  padding: 4px 5px;
}
li {
  font-size: 1.2em;
}

